<!DOCTYPE html>
<html lang="en">
   <head>
    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}
   <meta charset="UTF-8">
   <title>{% block title %} {% endblock %} - FlaskApp</title>
   </head>
   
   <style>
   /* CSS ΓΙΑ ΚΑΛΥΤΕΡΗ ΕΜΦΑΝΙΣΗ ΤΩΝ ELEMENTS ΤΩΝ ΣΕΛΙΔΩΝ */
    body { font-family: 'Arial', sans-serif; font-size: 16px;
    background-color: rgba(144, 196, 241, 0.253);}
    .border {border-radius: 15px;}
    .custom-color {background-color: rgb(255, 255, 255);}
   </style>

   <body>
    <!-- ΠΡΟΣΘΗΚΗ ΣΤΑΘΕΡΟΥ ΜΕΝΟΥ ΓΙΑ ΤΗΝ ΠΡΟΣΒΑΣΗ ΣΕ ΟΛΕΣ ΤΙΣ ΣΕΛΙΔΕΣ -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand">CLASS B1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Students
                </a>                
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/addStudent">Add a Student</a></li>
                  <li><a class="dropdown-item" href="/showStudents">Show all Students</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Lessons
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/addLesson">Add a Lesson</a></li>
                    <li><a class="dropdown-item" href="/showLessons">Show all Lessons</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Grades
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/addGrade">Add a lesson grade</a></li>
                    <li><a class="dropdown-item" href="/showGrades">Show all grades</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Average Scores
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/showAvgs">Show all student average grades</a></li>
                    <li><a class="dropdown-item" href="/showClassAvgs">Show class average score</a></li>
                  </ul>
                </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- ΕΜΦΑΝΙΣΗ ΜΗΝΥΜΑΤΟΣ ΟΤΑΝ ΕΚΤΕΛΕΣΤΗΚΕ ΕΠΙΤΥΧΩΣ ΜΙΑ ΛΕΙΤΟΥΡΓΙΑ -->
      {% if successMsg %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{successMsg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- ΕΜΦΑΝΙΣΗ ΜΗΝΥΜΑΤΟΣ ΟΤΑΝ ΔΕΝ ΕΚΤΕΛΕΣΤΗΚΕ ΜΙΑ ΛΕΙΤΟΥΡΓΙΑ -->
      {% if warningMsg %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{warningMsg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <br>
      {% block content %} {% endblock %}
      {{ bootstrap.load_js() }}
   </body>
</html>